<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>Rooms' list</title>
  </head>
  <body>
    <main>
      <div>
        <label>nickname</label>
        <input type="text" name="nickname" id="nickname" />
      </div>
      <div>
        <label>room roomName</label>
        <input type="text" name="roomName" id="roomname" />
      </div>
      <button id="create">Create new room</button>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/createRoom.js"></script>
  </body>
</html>
