main {
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
}
#cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid; */
}
input#nickname {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  background-color: rgb(225, 223, 223);
  width: 40%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.card:hover {
  box-shadow: 10px 10px 5px 5px rgb(219, 210, 210),
    -10px -10px 5px 5px rgb(219, 210, 210);
}
span {
  display: flex;
  align-content: center;
}
p.host {
  padding: 0;
  text-align: left;
}
p.description {
  /* justify-content: left; */
  max-width: 100%;
  text-align: left;

  padding: 0;
}
p.host > span {
  display: inline;
  font-weight: 400;
  margin-left: 10px;
}
div.card i {
  display: block;
  margin: auto;
  font-size: 50px;
}
.icons-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.room-list {
  display: grid;
}
.room-item {
  display: flex;
  border: 1px solid;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  border-radius: 5px;
  padding: 5px 10px;
}
.room-item button {
  background-color: black;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}
.room-item button:hover {
  background-color: #888;
  color: black;
}
.btn-join {
  background-color: #059ce2;
}
p > a {
  text-decoration: underline;
  display: inline;
}
a {
  /* display: block; */
  height: 100%;
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0, 0, 0);  */
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.form-control input[type="text"] {
  border: 1px solid rgb(72, 72, 72);
}
.form-control textarea {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 1rem;
  resize: none;
  padding: 1rem 1rem;
}
.form-control button {
  margin: auto;
  width: 100%;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid rgb(72, 72, 72);
  background-color: #fefefe;
  transition: all 0.2s;
}
.form-control button:hover {
  background-color: rgb(49, 49, 49);
  color: #fefefe;
}
.form-control label {
  width: 20%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .room-item {
    max-width: 100%;
  }
  .room-list {
    display: flex;
    flex-direction: column;
  }
}
