@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Nerko+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Kanit", sans-serif;
}
main {
  height: calc(100% - 150px);
  padding-left: 8%;
  padding-right: 8%;
}
#chat {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid; */
}
body {
  background-color: #efeae2;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
.form {
  background-color: #f0f2f5;
}
form {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: #f0f2f5;
  padding: 10px;
  padding-left: 8%;
  padding-right: 8%;
  align-items: center;
  height: 100px;
  box-shadow: 5px 0px 5px rgb(157, 156, 156);

}
/* i {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
} */
i:first-child {
  margin-left: 10px;
}
input[type="text"] {
  border: none;
  padding: 1rem 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  font-style: 20px;
  margin-right: 10px;
}
button {
  border: none;
  padding: 1rem 0.8rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
}
form button {
  opacity: 0;
  transition: all 0.2s;
  background-color: #cfd0d3;
}
.enable {
  opacity: 1;
}
li {
  border-radius: 4px 0 0 4px;
  padding: 5px;
  list-style: none;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}
li p {
  position: relative;
  padding: 10px;
  max-width: 75%;
}
p.in {
  background-color: #d6cccc;
}
p.out {
  background-color: #059ce2;
  margin-right: 15px;
  direction: ltr;
}
p span {
  position: absolute;
  display: inline-block;
  top: 0;
  display: block;
}
span.out {
  right: -15px;
  border-left: 8px solid #059ce2;
  border-top: 8px solid #059ce2;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
span.in {
  left: -30px;
  border-right: 8px solid #d6cccc;
  border-top: 8px solid #d6cccc;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}
.out {
  direction: rtl;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.in {
  direction: ltr;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
header{
  background-color: #fff;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px rgb(157, 156, 156);
}
.room-icon{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #059ce2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.room-icon::before{
  content: "";
  height: 5px;
  display: block;
  width: 80%;
  background-color: #fff;
}
.room-icon::after{
  content: "";
  height: 5px;
  display: block;
  width: 80%;
  background-color: #fff;
}
.btn{
  background-color: #156082;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.room-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}